$biglaptop:"(max-width:1500px)";
$laptop:"(max-width:1400px)";
$smalllaptop:"(max-width:1200px)";
$bigtap:"(max-width:992px)";
$tap:"(max-width:768px)";
$bigmobile:"(max-width:576px)";
$mabile:"(max-width:480px)";
$smallmobile:"(max-width:320px)";